{{> header}}
{{> navbar}}

<div class="row">
  <div class="col-8">
    <h1>Pikabytes</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat repellendus quam impedit sunt! Suscipit deserunt architecto sunt doloremque temporibus aliquid aspernatur nihil nesciunt obcaecati laudantium accusamus itaque ex, quos ipsum.</p>

  </div>
  <div class="col-4">
    <img src="assets/img/pikabytes.jpeg" class="img-thumbnail">
  </div>
</div>

{{> footer}}